version: '3.8'

services:
  db:
    image: postgres:latest
    user: postgres
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: file_storage
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_storage:/data
    environment:
      MINIO_ROOT_USER: file-storage-admin
      MINIO_ROOT_PASSWORD: file-storage-admin
      MINIO_REGION: ekb
    command: server --console-address ":9001" /data
volumes:
  postgres_data:
  minio_storage:
